.header {
  background-color: @secondaryColor;
  padding: .5rem 4rem;
  .flexContainer(row, space-between, center);
  width: 100%;
  position: fixed;

  .logo img {
    height: 5rem;
  }

  .nav {
    a {
      display: inline-block;
      padding: 1rem 3rem;

      &:hover {
        color: lighten(@tertiaryColor, 10%);
      }
    }

    .cta {
      color: @tertiaryColor;
      background: @primaryColor;
      border-radius: 100px;

      &:hover {
        background: @tertiaryColor;
        color: @primaryColor;
      }
    }
  }

  @media @mobile {
    .flexContainer(column, space-between, center);
    padding: .5rem 1.5rem;

    .logo {
      padding-bottom: 1rem;
    }

    .nav {
      a {
        padding: .5rem 2rem;
      }
    }
  }
}