@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #FFEB38;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  transition: all 0.2s;
}
.header {
  background-color: #141115;
  padding: 0.5rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header .logo img {
  height: 5rem;
}
.header .nav a {
  display: inline-block;
  padding: 1rem 3rem;
}
.header .nav a:hover {
  color: #b47ce8;
}
.header .nav .cta {
  color: #9B51E0;
  background: #FFEB38;
  border-radius: 100px;
}
.header .nav .cta:hover {
  background: #9B51E0;
  color: #FFEB38;
}
@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
  }
  .header .logo {
    padding-bottom: 1rem;
  }
  .header .nav a {
    padding: 0.5rem 2rem;
  }
}
.hero {
  margin-top: 5rem;
  padding: 2rem 4rem;
  min-height: calc(100vh - 7rem);
  text-align: center;
  color: #FBFFFE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(20, 17, 21, 0.6), rgba(255, 235, 56, 0.4)), url('../../assets/img/tamarcus-brown-134928-unsplash.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
}
.hero .jumbotron {
  width: 90%;
  background-color: rgba(20, 17, 21, 0.2);
}
.hero .jumbotron--title {
  font-size: 4.5rem;
  padding: 2rem;
  border-bottom: 0.5px solid rgba(251, 255, 254, 0.4);
}
.hero .jumbotron--subtitle {
  font-size: 2rem;
  padding: 2rem;
  font-weight: light;
}
.hero .jumbotron--btn {
  margin-bottom: 2rem;
  background: transparent;
  color: #FBFFFE;
  border: 1px solid #FBFFFE;
}
@media (max-width: 500px) {
  .hero {
    margin-top: 8rem;
    padding: 1rem;
  }
  .hero .jumbotron {
    width: 95%;
    background-color: transparent;
  }
  .hero .jumbotron--title,
  .hero .jumbotron--subtitle {
    padding: 1rem;
  }
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem;
  min-width: 100vh;
}
.features .feature {
  flex-basis: 30%;
  margin-bottom: 1rem;
  text-align: center;
  padding: 4rem;
  margin: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
