@mobile: ~"(max-width: 500px)";

// Colors
@white: #FBFFFE;
@primaryColor: #FFEB38;
@secondaryColor: #141115;
@tertiaryColor: #9B51E0;

// Hamburger Lengths
@height-icon: 2.5rem;
@width-line: 4rem;
@height-line: .4rem;

// Hamburger Transitions
@transition-time: 0.4s;
@rotation: 45deg;
@translateY: (@height-icon / 2);
@translateX: 0;