.about {
  margin-top: 10rem;
  text-align: center;

  &--team {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    .flexContainer(row, space-around, center);
    flex-wrap: wrap;
    transition: all .2s;
  }

  &--heading {
    h2 {
      margin: 5rem auto;
    }

    img {
      width: 50%;
    }
  }

  .card {
    width: 25%;
    margin: 2rem;
    color: white;
    border-radius: 5px;
    position: relative;
    .flexContainer(column, normal, normal);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, .7);
    transition: all .5s ease-in-out;

    &--title {
      font-size: 2rem;
      padding: .5rem 1rem;
      display: inline-block;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;
      background-image: linear-gradient(to right, @secondaryColor, @tertiaryColor);
    }

    &--role {
      color: @secondaryColor;
      font-size: 110%;
      padding: .3rem 1rem;
      background-color: rgba(@primaryColor, .85);
    }

    .socials {
      .flexContainer(row, space-around, center);
      padding: 1rem;
      background: transparent;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .1;
      transition: all .5s ease-in-out;

      &:hover {
        background: rgba(@white, .70);
        opacity: 1;
      }

      .social img {
        height: 2rem;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 2.5 rgba(0, 0, 0, .5);
    }

    @media @tablet {
      width: 40%;
    }

    @media @mobile {
      width: 80%;
    }
  }
}