.about {
  margin-top: 10rem;
  text-align: center;
}
.about--heading h2 {
  margin: 5rem auto;
}
.about .card {
  width: 30%;
  padding: .5rem;
  color: white;
  font-size: .8rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.7);
}
.about .card--heading {
  font-size: 1rem;
  padding: .5rem 1rem;
  display: inline-block;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #51334f, #2176ae);
}
@media (max-width: 800px) {
  .about .card {
    width: 80%;
  }
  .about .card__picture {
    height: auto;
  }
}
